In [1]:
import pandas as pd
df = pd.read_csv("project.csv")

C:\Users\ambal\AppData\Local\Temp\ipykernel_32336\2207724002.py:2: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("project.csv")

In [2]:
df.isnull().sum()

date               0
sitename           0
county             0
aqi            43020
pollutant    3235012
status        142718
so2           139768
co            113504
o3            125017
o3_8hr        131081
pm10          140358
pm2.5         131438
no2           165977
nox           169124
no            169455
windspeed     219498
winddirec     219736
unit         5882208
co_8hr         81229
pm2.5_avg      79941
pm10_avg       89875
so2_avg       629162
longitude     933620
latitude      933620
siteid       1779469
dtype: int64

In [3]:
num_col = df.select_dtypes(include="number").columns

In [4]:
df[num_col].corr()

                aqi  unit  longitude  latitude    siteid
aqi        1.000000   NaN  -0.144867 -0.163482  0.042078
unit            NaN   NaN        NaN       NaN       NaN
longitude -0.144867   NaN   1.000000  0.493103 -0.149517
latitude  -0.163482   NaN   0.493103  1.000000 -0.303894
siteid     0.042078   NaN  -0.149517 -0.303894  1.000000

In [3]:
df.shape

(5882208, 25)

In [4]:
df.columns

Index(['date', 'sitename', 'county', 'aqi', 'pollutant', 'status', 'so2', 'co',
       'o3', 'o3_8hr', 'pm10', 'pm2.5', 'no2', 'nox', 'no', 'windspeed',
       'winddirec', 'unit', 'co_8hr', 'pm2.5_avg', 'pm10_avg', 'so2_avg',
       'longitude', 'latitude', 'siteid'],
      dtype='object')

In [6]:
df.head()

,date,sitename,county,aqi,pollutant,status,so2,co,o3,o3_8hr,...,windspeed,winddirec,unit,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,siteid
0,2024-08-31 23:00,Hukou,Hsinchu County,62.0,PM2.5,Moderate,0.9,0.17,35.0,40.2,...,2.3,225,NaN,0.2,20.1,26.0,1.0,121.038869,24.900097,22.0
1,2024-08-31 23:00,Zhongming,Taichung City,50.0,NaN,Good,1.6,0.32,27.9,35.1,...,1.1,184,NaN,0.2,15.3,23.0,1.0,120.641092,24.151958,31.0
2,2024-08-31 23:00,Zhudong,Hsinchu County,45.0,NaN,Good,0.4,0.17,25.1,40.6,...,0.4,210,NaN,0.2,13.8,24.0,0.0,121.088955,24.740914,23.0
3,2024-08-31 23:00,Hsinchu,Hsinchu City,42.0,NaN,Good,0.8,0.2,30.0,35.9,...,1.9,239,NaN,0.2,13.0,26.0,1.0,120.972368,24.805636,24.0
4,2024-08-31 23:00,Toufen,Miaoli County,50.0,NaN,Good,1.0,0.16,33.5,35.9,...,1.8,259,NaN,0.1,15.3,28.0,1.0,120.898693,24.696907,25.0

In [5]:
df['status'].value_counts()

status
Good                              3185191
Moderate                          2159158
Unhealthy for Sensitive Groups     343909
Unhealthy                           51008
Very Unhealthy                        173
Hazardous                              51
Name: count, dtype: int64

In [8]:
import requests
from bs4 import BeautifulSoup

# URL of the website to scrape
url = "https://airtw.moenv.gov.tw/ENG/EnvMonitoring/Central/CentralMonitoring.aspx"

# Fetch the content from the URL
response = requests.get(url)

# Parse the content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Adjust the selector based on the webpage structure (e.g., div, table, etc.)
data = soup.find_all("td")  # Example for finding table data

# Print the extracted data
for item in data:
    print(item.text)

Good
                                                0~50


Moderate
                                                51~100


Unhealthy for Sensitive Groups
                                                101~150


Unhealthy
                                                151~200


Very Unhealthy
                                                201~300


Hazardous
                                                301~500

In [11]:
print(data)

[<td>
<span class="bor-top-green">Good<br/>
                                                0~50</span>
</td>, <td>
<span class="bor-top-yellow">Moderate<br/>
                                                51~100</span>
</td>, <td>
<span class="bor-top-orange">Unhealthy for Sensitive Groups<br/>
                                                101~150</span>
</td>, <td>
<span class="bor-top-red">Unhealthy<br/>
                                                151~200</span>
</td>, <td>
<span class="bor-top-purple">Very Unhealthy<br/>
                                                201~300</span>
</td>, <td>
<span class="bor-top-brown">Hazardous<br/>
                                                301~500</span>
</td>]